<div class="text-center p-3">
  <h1>Stupid Coaching</h1>
  <form action="/answer" method="get">
    <label for="question">Ask you Couch anything:</label>
      <input id="question" name ="question" type="text" placeholder="ask questions">
      <input type="submit" class="btn btn-info">
  </form>
</div>
